
.myheader{
  text-align: center;
  background-color: rgb(240,200,210);
}

.mycatimg{
  border-radius: 50%;
}

#about{
  background-color: pink;
}
.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:red;
  /height: 100px;/
}

.item2 {
  background-color:yellow;
  /height: 100px;/
}

.item3 {
  background-color:blue;
  /height: 100px;/
}

